/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
/*General*/

.header img{border: 1px solid #1a237e}
.title-page{margin-bottom: 30px; border-bottom: 1px solid #dedede}
.title-page span{font-size: 50%;}
#header{background-image: url(../img/2.jpg);
background-size: cover;}
.header-id{background: rgba(0,0,0,0.8);}
.about{text-align: justify; line-height: 32px;}
.text-sombra{text-shadow: 3px 2px 4px #888;}
.bold{font-weight: bold;}
